//
//  Debug.xcconfig
//  TestCICD
//
//  Created by Antony on 2022/12/03.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER =  $(inherited).debug

// 这个现在还用不上
ASSETCATALOG_COMPILER_APPICON_NAME = $(inherited).debug

PRODUCT_NAME = TestCICD(D)
